# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

############################################################
# General Configuration
############################################################
site_name: InstallForge Documentation
site_author: Soner Boztas & Contributors
copyright: Copyright &copy; 2010-[Year] solicus. Last build on [Date]. Revision&colon; [CommitHash]. Branch&colon; [Branch].

site_url: https://docs.installforge.net
repo_url: https://github.com/soner-boztas/installforge-docs
edit_uri: edit/main/docs/

site_dir: !ENV [ DOCS_BUILD_FOLDER_NAME ]

############################################################
# Navigation
############################################################
nav:
  - Home: index.md
  - Getting Started:
    - getting-started/index.md
    - Introduction: getting-started/introduction.md
    - Features: getting-started/features.md
    - System Prerequisites: getting-started/system-prerequisites.md
    - Installation: getting-started/installation.md
    - Quick Start Guide: getting-started/quick-start-guide.md
  - How-To's:
      - how-tos/index.md
      - Using Environment Variables: how-tos/using-environment-variables.md
      - Using Custom Variables: how-tos/using-custom-variables.md
      - Using Predefined Constants: how-tos/using-predefined-constants.md
      - Using Custom Commands: how-tos/using-custom-commands.md
      - Code-Signing Setup Packages: how-tos/code-signing-setup-packages.md
      - Creating Your Own Language File: how-tos/creating-your-own-language-file.md
      - Installing New Language Files: how-tos/installing-new-language-files.md
      - Using a Custom Display Icon in Windows Programs and Features: how-tos/using-custom-display-icon-in-windows-programs-and-features.md
      - Using a Custom Display Icon in Windows Apps and Features: how-tos/using-custom-display-icon-in-windows-apps-and-features.md
  - FAQ:
    - faq/index.md
  - Release Notes:
    - release-notes/index.md
  - Contributing:
    - contributing/index.md
    - Asking a Question: contributing/asking-a-question.md
    - Reporting a Bug: contributing/reporting-a-bug.md
    - Requesting a New Feature: contributing/requesting-a-new-feature.md
    - Providing a New Language File : contributing/providing-a-new-language-file.md
    - Making a Donation: contributing/making-a-donation.md
  - License:
    - license/index.md

############################################################
# Theme Configuration
############################################################
theme:
  name: material
  language: en

  font:
    text: Open Sans
    code: Roboto Mono

  logo: assets/iflogo.png
  favicon: assets/favicon.ico

  icon:
      edit: material/pencil
      view: material/eye

  palette:
    # Palette toggle for light mode.
    - scheme: installforge-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode.
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.indexes
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.tabs
    - navigation.footer
    - navigation.tracking
    - navigation.instant
    - navigation.instant.progress
    - content.tooltips
    - content.code.copy
    - content.action.edit
    - content.action.view
    - search
    - search.suggest
    - search.highlight
    - search.share

############################################################
# Plugins
############################################################
plugins:
  - search
  - table-reader
  - privacy:
      enabled: !ENV [ IS_BUILD, false ]
  - git-revision-date-localized:
      enabled: !ENV [ IS_BUILD, false ]
      enable_creation_date: true
  - git-committers:
      enabled: !ENV [ IS_BUILD, false ]
      repository: soner-boztas/visual-update-docs
      branch: main

############################################################
# Markdown Extensions
############################################################
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true

  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets:
      auto_append:
        - glossary.md
        - common_links.md

############################################################
# Extras
############################################################
extra:
  # Disable the "Made with Material for MkDocs" notice.
  generator: false

  social:
    - icon: fontawesome/brands/facebook
      link: https://www.facebook.com/solicusoftware
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/solicus
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/86189712/
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UCUN8s7e_rPTEs7FVG3naw2w

extra_css:
  - stylesheets/extra.css
